.racks {
  background: #fefefe;
}
.racks tr a {
  display: inline-block;
  background-color: #fff;
  color: #134272;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 20px;
  line-height: 30px;
  border-radius: 500px;
  font-weight: 600;
  border: 1px solid #134272;
}
.racks tr a:hover {
  background-color: #d6d6d6;
}
th:nth-child(1),
td:nth-child(1) {
  width: 3%;
}
th:nth-child(2),
td:nth-child(2) {
  width: 10%;
}
th:nth-child(3),
td:nth-child(3) {
  width: 10%;
}
th:nth-child(4),
td:nth-child(4) {
  width: 10%;
}
th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}
th:nth-child(6),
td:nth-child(6) {
  width: 10%;
}
.racks__spinner {
  text-align: center;
}
